body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.Main {
	text-align: center;
  }

.taskBg {
	background-color: #ccffe6;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 10px 100px 10px 15px;
	text-align: left;
	font-weight: 700;
	font-size: 22px;
	position: relative;
  }
  
  .taskBg div {
	display: flex;
	align-items: center;
  }
  
  .taskNumber {
	color: #999;
	border: 1px solid #999;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	display: flex;
	text-align: center;
	font-size: 14px;
	margin-right: 8px;
	align-items: center;
	justify-content: center;
  }
  
.taskBg .taskText {
	flex: 1;
  }
  
  .taskBg .done .taskText {
	text-decoration: line-through;
	opacity: 0.3;
  }
  
  .taskBg .iconsWrap {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	width: auto;
	display: inline-block;
  }
  
  .taskBg .iconsWrap span {
	display: inline-block;
	margin: 0px 10px 0 10px;
	cursor: pointer;
	color: #3bb19b;
  }
  
  .taskBg .iconsWrap span:hover {
	color: yellow;
  }
  
  .mr-20 {
	margin-right: 20px;
  }